:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.grid{
  background-color: black;
  width: 100%;
}

.row{
  display: flex;
   gap: 4px;
   margin-bottom: 4px;
}
.cell {
  margin-top: 5px;
  width: 200px;
  height: 150px;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border:solid grey;
  box-sizing: border-box;
  border-radius: 5px;
}

.cell:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
